html,
body {
  font-family: Calibri;
  color: #666;
}
a {
  text-decoration: none;
  color: #666;
}
.t-right {
  text-align: right;
}
.pv10 {
  padding: 10px 0;
}
.ph10 {
  padding: 0 10px;
}
.p10 {
  padding: 10px;
}
.p5-10 {
  padding: 5px 10px;
}
.v-middle {
  vertical-align: middle;
}
.e-border {
  position: relative;
  z-index: 0;
}
.e-border:after {
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.d-border {
  border-left: 1px solid #cccccd;
  border-right: 1px solid #fff;
}
.b-right:after {
  border-right: 1px solid #fff;
}
.b-none {
  border: 0;
}
.b-none:after {
  border: 0;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  user-drag: element;
  cursor: move;
  /* Required to make elements draggable in old WebKit */

  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f7f8), to(#dfe0e0));
  background: -moz-linear-gradient(top, #f6f7f8, #dfe0e0);
  border: 1px solid #8a8a8a;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 1px 1px 0 #ffffff;
  font-weight: bold;
  box-shadow: 2px 2px 0px 0px #FFFFFF inset;
  position: relative;
}
.btn.dropdown {
  padding-right: 30px;
}
.btn.dropdown:after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10px;
}
.layout-container {
  min-width: 1220px;
}
.layout-box {
  width: 1200px;
  margin: 0 auto;
}
.ib-list {
  display: block;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
.ib-list li {
  display: inline-block;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  position: relative;
}
.powered-by {
  background-color: #666666;
  box-shadow: 0 -2px 3px 0 #000000 inset;
  vertical-align: middle;
  color: #fff;
  text-align: right;
  line-height: 20px;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
}
.powered-by strong {
  font-size: 20px;
  font-weight: bold;
}
.company-header {
  background-color: #f8f8f8;
  color: #666;
}
.company-header a.user {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.company-header a {
  color: #666;
}
.company-header .logo {
  background: url("../images/logo.png");
  display: block;
  width: 259px;
  height: 95px;
}
.page-nav {
  background-color: #e3e3e3;
  border: 1px solid #cccccd;
  font-weight: bold;
}
.page-nav li {
  border-left: 1px solid #cccccd;
  border-right: 1px solid #fff;
}
.page-nav li a {
  text-shadow: 1px 1px 0 #ffffff;
  display: block;
  padding: 10px 20px;
}
.page-nav li a:hover {
  background-color: #f2f2f2;
}
.page-nav li a.active {
  background-color: #5eabec;
  color: #fff;
  text-shadow: 1px 1px 0 transparent;
}
.page-nav li a.active:after {
  content: '\25B2';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
}
.page-nav li:first-child {
  border-left: transparent;
}
.page-nav li:last-child {
  border-right: transparent;
}
.breadcrumb li a {
  color: #5eabec;
}
.breadcrumb li span,
.breadcrumb li a {
  display: block;
  margin: 0 5px;
}
.app-header {
  margin-bottom: 10px;
}
.app-designer .layout-box {
  border: 1px solid #cccccd;
  border-radius: 5px;
}
.app-designer .header {
  background-color: #e0e0e0;
  border-bottom: 1px solid #cccccd;
  border-radius: 5px 5px 0 0;
  box-shadow: 1px 1px 0 0 #F4F4F4 inset;
}
.app-designer .right-nav {
  padding: 5px 10px 5px 0;
}
.app-designer .right-nav li {
  margin-left: 10px;
}
.app-designer .sub-nav li {
  border-left: 1px solid #cccccd;
  border-right: 1px solid #fff;
}
.app-designer .sub-nav li a {
  text-shadow: 1px 1px 0 #ffffff;
  display: block;
  padding: 10px 20px;
}
.app-designer .sub-nav li:hover a {
  background-color: #f2f2f2;
}
.app-designer .sub-nav li.active a {
  text-shadow: 1px 1px 0 transparent;
}
.app-designer .sub-nav li.active a:after {
  content: '\25B2';
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.app-designer .sub-nav li:first-child {
  border-left: transparent;
}
.app-designer .sub-nav li:first-child a {
  border-radius: 5px 0 0 0;
}
.app-designer .sub-nav li:last-child {
  border-right: transparent;
}
.app-designer .action-nav {
  border-bottom: 1px solid #cccccd;
  padding: 10px 15px;
}
.app-designer .prop-tabs {
  border-left: 1px solid #cccccd;
}
.app-designer .prop-tabs form {
  height: 500px;
}
.app-designer .prop-tabs .ib-list {
  background-color: #cdcdcd;
  border-bottom: 1px solid #999;
}
.app-designer .prop-tabs .ib-list li a {
  display: block;
  padding: 15px;
  border: 1px solid transparent;
  position: relative;
  top: 1px;
  font-weight: bold;
}
.app-designer .prop-tabs .ib-list li.active a {
  background-color: #fafafa;
  border: 1px solid #999;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 0;
}
.app-designer .prop-tabs .ib-list li:hover a {
  background-color: #EFEFEF;
}
.app-designer .prop-tabs .ib-list li.active:hover a {
  background-color: #fafafa;
}
.app-designer .tab-panes {
  background-color: #fafafa;
  border-left: 1px solid #999;
  min-height: 500px;
}
.app-designer .tab-panes .element-type {
  background-color: #eff6fd;
  border-bottom: 1px solid #cccccd;
}
.element-stack {
  min-height: 500px;
}
.element-stack .sel-el-list a {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f7f8), to(#dfe0e0));
  background: -moz-linear-gradient(top, #f6f7f8, #dfe0e0);
  line-height: 25px;
  padding: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d1cfcf;
  position: relative;
}
.element-stack .sel-el-list a:after {
  position: absolute;
  top: 10px;
  right: 10px;
  content: '\25B6';
}
.element-stack .sel-el-list a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e9eaeb), to(#d9dada));
  background: -moz-linear-gradient(top, #e9eaeb, #d9dada);
}
.element-stack .sel-el-list .active a,
.element-stack .sel-el-list .active a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#7abcff), to(#4197ee));
  background: -moz-linear-gradient(top, #7abcff, #4197ee);
  color: #fff;
}
a.draging {
  display: block;
  width: 180px;
  padding: 5px;
  border: 2px solid #b4b4b4;
  border-radius: 3px;
  color: #4d4f53;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0 #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d3d4), to(#8895a8));
  background: -moz-linear-gradient(top, #d1d3d4, #8895a8);
}
.element-options .ib-list {
  width: 500px;
  margin-top: 20px;
  margin-left: 10px;
  position: relative;
}
.element-options .ib-list li {
  margin-right: 50px;
  margin-bottom: 10px;
}
.element-options .ib-list li a {
  display: block;
  width: 180px;
  padding: 5px;
  border: 2px solid #b4b4b4;
  border-radius: 3px;
  color: #4d4f53;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 0 #cccccc;
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d3d4), to(#8895a8));
  background: -moz-linear-gradient(top, #d1d3d4, #8895a8);
}
.element-options .ib-list li.active a,
.element-options .ib-list li:hover a {
  background: -webkit-gradient(linear, left top, left bottom, from(#8895a8), to(#d1d3d4));
  background: -moz-linear-gradient(top, #8895a8, #d1d3d4);
}
.element-properties-form .grp-elements {
  max-height: 400px;
  min-height: 400px;
  overflow: auto;
}
.element-properties-form .action-buttons {
  background-color: #cdcdcd;
  padding: 10px;
}
.form-vertical .control-group {
  padding: 15px 20px;
  border-bottom: 1px solid #fafafa;
}
.form-vertical .control-group label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}
.form-vertical .control-group input {
  width: 300px;
  border: 1px solid #979797;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #EFEFEF;
}
.form-vertical .control-group .type-checkbox input {
  width: auto;
}
.form-vertical .control-group span.help-inline {
  font-size: 12px;
  font-style: italic;
  display: inline-block;
  margin-left: 10px;
  color: #3a3b3c;
}
.form-vertical .focused {
  background-color: #dafed9;
  border-bottom: 1px solid #e9e9e9;
}
