@grayCD: #cdcdcd;
@gray66: #666666;
@grayE3: #e3e3e3;
@grayE0: #e0e0e0;
@grayF8: #f8f8f8;
@grayFA: #fafafa;

@borderColor: #CCCCCD;

@fbig: 16px;
@ftbig: 20px;

@blueHighlightColor: #5eabec;
@formHighlight: #dafed9;
@elementPreviewBgColor: #eff6f2;

html, body {
  font-family: Calibri;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}

.t-right {
  text-align: right;
}

.pv10 {
  padding: 10px 0;
}

.ph10 {
  padding: 0 10px;
}

.p10 {
  padding: 10px;
}

.p5-10 {
  padding: 5px 10px;
}

.v-middle {
  vertical-align: middle;
}

.e-border {
  position: relative;
  z-index: 0;
  &:after {
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
}

.d-border {
  border-left: 1px solid @borderColor;
  border-right: 1px solid #fff;
}

.b-right {
  &:after {
    border-right: 1px solid #fff;
  }
}

.b-none {
  border: 0;
  &:after {
    border: 0;
  }
}

.text-shadow (@color) {
  text-shadow: 1px 1px 0 @color;
}

.tb-gradient(@from, @to) {
  background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
  background: -moz-linear-gradient(top,  @from,  @to);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  user-drag: element;
  cursor: move;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.btn {
  .tb-gradient(#f6f7f8, #dfe0e0);
  border: 1px solid #8a8a8a;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  .text-shadow (#fff);
  font-weight: bold;
  box-shadow: 2px 2px 0px 0px #FFFFFF inset;
  position: relative;

  &:hover {
    .tb-gradient(#fff, #e2e3e3);
  }

  &.icon{
    line-height: 14px;
  }

  &.dropdown {
    padding-right: 30px;

    &:after {
      content: '\25BC';
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 10px;
    }
  }

}

.layout-container {
  min-width: 1220px;
}

.layout-box {
  width: 1200px;
  margin: 0 auto;
}

.ib-list {
  display: block;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  li {
    display: inline-block;
    letter-spacing: normal;
    text-rendering: auto;
    word-spacing: normal;
    position: relative;

  }
}

.powered-by {
  background-color: #666666;
  box-shadow: 0 -2px 3px 0 #000000 inset;
  vertical-align: middle;
  color: #fff;
  text-align: right;
  line-height: 20px;
  font-size: @fbig;
  padding: 10px;
  font-weight: bold;
  strong {
    font-size: @ftbig;
    font-weight: bold;
  }
}

.company-header {
  background-color: @grayF8;
  a.user {
    font-weight: bold;
    font-size: @fbig;
    color: #333;
  }
  color: #666;
  a {
    color: #666;
  }

  .logo {
    background: url("../images/logo.png");
    display: block;
    width: 259px;
    height: 95px;
  }
}

.page-nav {
  background-color: @grayE3;
  border: 1px solid @borderColor;

  font-weight: bold;

  li {
    a {
      .text-shadow(#fff);
      display: block;
      padding: 10px 20px;
      &:hover {
        background-color: #f2f2f2;
      }
      &.active {
        background-color: @blueHighlightColor;
        color: #fff;
        .text-shadow(transparent);

        &:after {
          content: '\25B2';
          position: absolute;
          top: 30px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }

    }

    .d-border;

  }

  li:first-child {
    border-left: transparent;
  }

  li:last-child {
    border-right: transparent;
  }

}

.breadcrumb li {
  a {

    color: @blueHighlightColor
  }
  span, a {
    display: block;
    margin: 0 5px;
  }
}

.app-header {
  margin-bottom: 10px;
}

.app-designer {

  .layout-box {
    border: 1px solid @borderColor;
    border-radius: 5px;
  }

  .header {
    background-color: @grayE0;
    border-bottom: 1px solid @borderColor;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 0 0 #F4F4F4 inset;
  }

  .right-nav {
    padding: 5px 10px 5px 0;
    li {
      margin-left: 10px;
    }
  }

  .sub-nav {

    li {
      a {
        .text-shadow(#fff);
        display: block;
        padding: 10px 20px;
      }
      &:hover a {
        background-color: #f2f2f2;
      }
      &.active a {


        .text-shadow(transparent);

        &:after {
          content: '\25B2';
          position: absolute;
          top: 30px;
          left: 0;
          right: 0;
          text-align: center;
          color: #fff;
        }
      }
      .d-border;
    }

    li:first-child {
      border-left: transparent;
      a {
        border-radius: 5px 0 0 0;
      }
    }

    li:last-child {
      border-right: transparent;
    }
  }

  .action-nav {
    border-bottom: 1px solid @borderColor;
    padding: 10px 15px;
  }

  .prop-tabs {
    border-left: 1px solid @borderColor;
    form {
      height: 500px;

    }
    .ib-list {
      background-color: @grayCD;
      border-bottom: 1px solid #999;
      li {
        a {
          display: block;
          padding: 15px;
          border: 1px solid transparent;
          position: relative;
          top: 1px;
          font-weight: bold;

        }

        &.active a {
          background-color: #fafafa;
          border: 1px solid #999;
          border-bottom: 1px solid transparent;
          position: relative;
          z-index: 0;
        }

        &:hover a {
          background-color: #EFEFEF;
        }

        &.active:hover a {
          background-color: #fafafa;
        }
      }

    }
  }

  .tab-panes {
    background-color: #fafafa;
    border-left: 1px solid #999;
    min-height: 500px;
    .element-type {
      background-color: #eff6fd;
      border-bottom: 1px solid @borderColor;
    }
  }
}

.element-stack {
  min-height: 500px;
  .sel-el-list {
    a {
      display: block;
      .tb-gradient(#f6f7f8, #dfe0e0);
      line-height: 25px;
      padding: 10px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #d1cfcf;
      position: relative;

      &:after {
        position: absolute;
        top: 10px;
        right: 10px;
        content: url('../images/gray-right-arrow.png')
      }
    }

    a:hover {
      .tb-gradient(#E9EAEB, #D9DADA); //#E9EAEB, #D9DADA
    }

    .active a:after {
      content: url('../images/blue-right-arrow.png')
    }

    .active a, .active a:hover {
      .tb-gradient(#7abcff, #4197ee); //#E9EAEB, #D9DADA
      color: #fff;
    }

  }
}

a.draging {

  display: block;
  width: 180px;
  padding: 5px;
  border: 2px solid #b4b4b4;
  border-radius: 3px;
  color: #4d4f53;
  text-align: center;
  font-weight: bold;
  .text-shadow(#ccc);
  .tb-gradient(#d1d3d4, #8895a8)

}

.element-options {
  .ib-list {
    width: 500px;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
    li {
      margin-right: 50px;
      margin-bottom: 10px;
      a {
        display: block;
        width: 180px;
        padding: 5px;
        border: 2px solid #b4b4b4;
        border-radius: 3px;
        color: #4d4f53;
        text-align: center;
        font-weight: bold;
        .text-shadow(#ccc);
        .tb-gradient(#d1d3d4, #8895a8)
      }
      &.active, &:hover {
        a {
          .tb-gradient(#8895a8, #d1d3d4)
        }
      }
    }

  }
}

.element-properties-form {
  .grp-elements {
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
  }

  .action-buttons {
    background-color: @grayCD;
    padding: 10px;
  }
}

.form-vertical {
  .control-group {
    padding: 15px 20px;
    border-bottom: 1px solid #fafafa;

    label {
      font-weight: bold;
      display: inline-block;
      margin-bottom: 5px;
    }

    input {
      width: 300px;
      border: 1px solid #979797;
      padding: 5px;
      border-radius: 3px;
      box-shadow: 0 0 1px 1px #EFEFEF;

    }

    input[type=checkbox], .type-checkbox input, input[type=radio], .type-radio input {

      width: auto;

    }

    span.help-inline {
      font-size: 12px;
      font-style: italic;
      display: inline-block;
      margin-left: 10px;
      color: #3a3b3c;
    }

  }

  .focused {
    background-color: @formHighlight;
    border-bottom: 1px solid #e9e9e9;
  }
}


.options-list {
  .list-view{
    li {
      margin-bottom: 10px;
    }
  }
}

