<div>
    <a href="http://inmobi.com" class="logo">Inmobi</a>
    <ul class="nav nav-pills">
        <li class="advertiser active"><a href="#advertiser">Advertiser</a></li>
        <li class="publisher"><a href="#publisher">Publisher</a></li>
        <li class="analyze"><a href="#analyze">Analytics</a></li>
        <li class="properties"><a href="#properties">My Properties</a></li>
        <li class="funds"><a href="#funds">Funds</a></li>
        <li class="examples"><a href="#examples/landing">Examples</a></li>
    </ul>
</div>