<div class="row">
    <div class="col-md-4 ">
        <div class="form-preview min-height p10"> Form Preview Area</div>
    </div>
    <div class="col-md-8">
        <div class="form-designer min-height p10">
            Studio Landing Page {{stringify this}}
            <div class="design-tab">

            </div>
            <div>
                <div class="elements-tab">

                </div>
                <div class="properties-tab">

                </div>
                <div class="settings-tab">

                </div>
            </div>
        </div>
    </div>
</div>

