<div class="app-designer">
    <div class="layout-box">
        <div class="yui3-g header">
            <div class="yui3-u-1-2 sub-nav">
                <ul class="ib-list">
                    <li class="active">
                        <a href="#" class="dummy">Forms</a>
                    </li>
                    <li>
                        <a href="#" class="dummy">Monitors</a>
                    </li>
                    <li>
                        <a href="#" class="dummy">Users</a>
                    </li>
                </ul>
            </div>

            <div class="yui3-u-1-2 t-right">
                <div class="right-nav">
                    <ul class="ib-list">
                        <li>Last Saved on 12th Dec 2012</li>
                        <li>
                            <a href="#" class="dummy btn">Save</a>
                        </li>
                        <li>
                            <a href="#" class="dummy btn">Publish</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="action-nav yui3-g">
            <div class="yui3-u-1-2">
                <div class="p5-10">
                    <a href="#" class="dummy btn dropdown">Action</a>
                </div>
            </div>
            <div class="yui3-u-1-2 t-right">
                <div class="p5-10">
                    <a href="#" class="dummy btn dropdown">Preview</a>
                </div>
            </div>
        </div>
        <div class="designer yui3-g">
            <div class="yui3-u-7-24">
                <div class="element-stack">
                    <div class="sel-el-list">
                        <ul>
                            <li>
                                <div>
                                    <a href="#" class="dummy">Name</a>
                                </div>
                            </li>
                            <li class="active">
                                <div>
                                    <a href="#" class="dummy">Product Category</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="dummy">Product Name</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="yui3-u-17-24">
                <div class="prop-stack">
                    <div class="prop-tabs">
                        <ul class="ib-list">
                            <li>
                                <a href="#" class="dummy">Add Fields</a>
                            </li>
                            <li>
                                <a href="#" class="dummy">Field Properties</a>
                            </li>
                            <li>
                                <a href="#" class="dummy">Form Settings</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-panes">
                        <div class="element-options p10">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque.</p>
                            <ul class="ib-list">
                                <li>
                                    <a href="#" class="dummy">Single Line Text Field</a>
                                </li>
                                <li>
                                    <a href="#" class="dummy">Number</a>
                                </li>
                                <li>
                                    <a href="#" class="dummy">DropDown</a>
                                </li>
                            </ul>
                        </div>
                        <div class="fld-properties" style="display: none">
                            <form action="" class="form-vertical">
                                <div class="el-type control-group">
                                    <a href="#" class="dummy">Single Line Text Field</a>
                                </div>

                                <div class="control-group">
                                    <label>Field Label</label>

                                    <div class="control">
                                        <input type="text" name="some" placeholder="Name" />
                                        <span class="inline-help">40 Characters Max</span>
                                    </div>
                                </div>

                                <div class="control-group active">
                                    <label>Default Text</label>

                                    <div class="control">
                                        <input type="text" name="some" placeholder="Enter Name" />
                                        <span class="inline-help">20 Characters Max</span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label>Visibility</label>

                                    <div class="control">
                                        <a href="#" class="dummy">User</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>